@model AMS.Models.PhieuXuatThanhPhamViewModel.PhieuXuatThanhPhamCRUDViewModel
<link rel="stylesheet" href="~/css/views/PhieuXuatThanhPham/DetailPhieuXuatThanhPham.css" />
<div cite="view-detail-PhieuXuatThanhPham">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Id</th>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <th>Created Date</th>
                    <td>@Model.CreatedDate</td>
                </tr>
                <tr>
                    <th>Modified Date</th>
                    <td>@Model.ModifiedDate</td>
                </tr>
                <tr>
                    <th>Created By</th>
                    <td>@Model.CreatedBy</td>
                </tr>
                <tr>
                    <th>Modified By</th>
                    <td>@Model.ModifiedBy</td>
                </tr>
            </table>
        </div>
    </div>
</div>
